<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>

<body>
    <p>This is user form.</p>
    <form method="POST" action="/api/v1/users/submit">
        <label>name</label>
        <input type="text" name="name" id="Name">
        <label>age</label>
        <input type="text" name="age" id="Age">
        <button type="submit">Add data</button>
    </form>
</body>

</html>